.car_group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    .car_card{
        width: 250px;
        height: 250px;
        background-color: $white;
        border-radius: 30px;
        box-shadow: 0px 0px 3px 1px $primary;
        .car_img{
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            max-width: 100%;
            max-height: 100%;
        }
        .car_spec{
            color: $secondary;
            text-align: left;
            span{
                font-weight: 700;
            }
        }
    }
    ul {
        list-style: none;
        padding: 0;
    }
    li {
        display: inline-block;
        margin: 0 10px;
    }
}